header {
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	justify-content: left;
}

.logo {
	display: inline-block;
	height: 60px;
	width: 142px;
	margin: auto auto auto 20px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: auto;
	display: inline-block;
	margin-left: 20px;
	margin-top: 5px;
	height: 60px;
	width: 142px;
	background-image: url("https://raw.githubusercontent.com/duplebado/AirBnB_clone/main/web_static/images/logo.png");
	background-repeat: no-repeat;
	background-size: 142px 60px;
}
